* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background-color: lightgray;
    font-family: sans-serif;    
}

.header {
    background-color: whitesmoke;
    width: 800;
    padding-top: 5;
    padding-bottom: 5;
}

.header a {
    color: gray;
    text-decoration: none;
} 

#options {
    display: table;
    background-color: white;
    width: 800;
}

#search {
    display: table-cell;
    text-align: left;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 40;
    padding-right: 40;
}

#userOptions {
    display: table-cell;
    text-align: right;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 40;
    padding-right: 40;
}

.feed {
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 800;
    min-height: 500px;
}

.debug {
    float: bottom;
}




#search {
    display: table-cell;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 40;
    padding-right: 40;
}














.main {
    display: table;
    width: 800px;
    position: relative;
    background-color: white;
}

.wall {
    float: left;
    display: table-cell;
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 70%;
    min-height: 500px;
}

.sidebar {
    float: right;
    display: table-cell;
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 30%;
    min-height: 500px;
}

#searchResults {
    display: table-cell;
    padding: 40px;    
    background-color: white;
    width: 800px;
    text-align: left;
}








.content {
    padding: 40px;    
    background-color: white;
    width: 800px;
}

.error {
    color: red;
    font-size: 15px;
}

.feed a, .wall a, #searchResults a, .sidebar a, #options a, #image a {
    color: #0080ff;
    text-decoration: none;
}

.feed a:hover, .wall a:hover, #searchResults a:hover, .sidebar a:hover, #options a:hover, #image a:hover {
    color: #0080ff;
    text-decoration: underline;
}
















.status {
    display: table;
}

.profileThumb {
    display: table-cell;
    padding-right: 10px;
}

.statusContent {
    display: table-cell;
    vertical-align: top;
}








#image {
    display: table-cell;
    padding: 40px;    
    background-color: white;
    width: 800px;
}


#postImage {
    text-align: left;
    display: table-cell;
    padding: 40px;    
    background-color: white;
    width: 800px;
}









/*
Tooltip CSS borrowed from https://www.w3schools.com/howto/howto_css_tooltip.asp
*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }