* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background-color: lightgray;
    font-family: sans-serif;    
}

.header {
    background-color: whitesmoke;
    width: 800;
    padding-top: 5;
    padding-bottom: 5;
}

.header a {
    color: gray;
    text-decoration: none;
} 

.options {
    background-color: white;
    width: 800;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
}

.feed {
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 800;
    min-height: 500px;
}

.debug {
    float: bottom;
}






















.main {
    display: table;
    width: 800px;
    position: relative;
    background-color: white;
}

.wall {
    float: left;
    display: table-cell;
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 70%;
    min-height: 500px;
}

.sidebar {
    float: right;
    display: table-cell;
    padding: 40px;    
    text-align: left;
    background-color: white;
    width: 30%;
    min-height: 500px;
}










.content {
    padding: 40px;    
    background-color: white;
    width: 800px;
}

.error {
    color: red;
    font-size: 15px;
}

.feed a, .wall a {
    color: #0080ff;
    text-decoration: none;
}